.container {
  display: flex;
  min-height: 100vh;
}
.Home {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-content: center;
  align-items: center;
  &__Button {
    padding: 15px;
    border-radius: 5px;
    background-color: #4286f4;
    color: #fff;
    font-size: 1.2em;
    min-width: 50px;
  }
}